.home_social {
  position: fixed;
  display: flex;
  flex-flow: column wrap;
  top: 58%;
  right: -16px;
  row-gap: 1.3rem;
}

.home_social a {
  font-size: 20px;
}

.home_social::before {
  content: "     ";
  width: 45px;
  height: 2px;
  margin-right: 0px;
  background-color: #fff;
  transform: rotate(90deg) translate(8px, 4px);
}

.home_contact {
  color: #fff;
  position: fixed;
  display: flex;
  flex-flow: column wrap;
  right: -34px;
  top: 40%;
  row-gap: 1.1rem;
  transform: rotate(-90deg);
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.hero_section {
  margin-top: 12px;
  margin-right: -18px;
  margin-left: -12px;
  display: flex;
}

.hero_img {
  padding-top: 40px;
}

.hero_content {
  text-align: justify;
  line-height: 15px;
}

.hero_content span {
  font-size: 1.2rem;
  font-weight: 800;
  color: #82b440;
  text-align: right;
  margin-left: 0px;
}

.hero_content h4 {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  margin-top: 20px;
  margin-left: 9px;
  margin-right: 0px;
}

.hero_content h2 {
  font-weight: 800;
  color: #82b440;
  margin-left: 12px;
  font-size: 1.2rem;
  
}

.hero_content p {
  line-height: 25px;
  font-weight: 300;
  padding-left: 3px;
  margin-right: 2px;
}

.hero_btns {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  gap: 4;
}

.btn1 {
  background-color: #000000;
  border: 2px solid #82b440;
  border-radius: 4px;
  padding: 3px 3px 3px 0px;
  box-sizing: border-box;
}

.btn1 a {
  text-decoration: none;
  color: #82b440;
  font-weight: 500;
}

.btn1:hover a {
  color: #000000;
  cursor: pointer;
}

.btn1:hover a {
  font-weight: 600;
  color: #82b440;
}

.hire_btn {
  background-color: #82b440;
  border: 1px solid #82b440;
  border-radius: 5px;
  padding: 5px 5px 5px 0px;
}

.hire_btn a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.hiro_btn:hover a {
  color: #82b440;
  border: 2px solid #82b440;
  border-radius: 4px;
  padding: 0px;
}


@media (min-width:768px) {

  .home_social {
    position: fixed;
    display: flex;
    flex-flow: column wrap;
    top: 58%;
    right: 4px;
    row-gap: 1.3rem;
  }

  .home_contact {
    left: 4px;
  }

  .hero_img {
    padding-top: 40px;
    width: 100%;
}

.hero_section {
    width: 73%;
    padding-top: 75px;
    margin-right: 11.5%;
    margin-left: 13.5%;
    display: flex;
    justify-content: space-between;
  }

  .hero_content {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    justify-content: space-evenly;
  }

  
}

